@font-face {
  font-family: RobotoLt;
  font-weight: 500;
  src: url('../fonts/roboto/Roboto-Medium.woff2') format('woff2'),
      url('../fonts//roboto/Roboto-Medium.woff') format('woff');
  font-style: normal;
}

$border-color: #E0E0E0;
$color-white: #fff;
$color-grey: #828282;
$tag-color: #333;

@function rem($px) {
  $rems: $px / 16;
  @return #{$rems}rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  background: lightgrey;
}

.wrapper {
  margin: auto;
  width: 320px;
  background: $color-white;
}

.header {
  padding: 16px 0;

  .search {
    padding: 0 16px 16px;
    border-bottom: 1px solid $border-color;
    
    &__reset {
      display: block;
      margin-left: auto;
      font-family: RobotoLt;
      font-size: rem(12);
      line-height: 18px;
      letter-spacing: .02em;
      border: none;
      outline: none;
      background: transparent;
      cursor: pointer;
    }

    &__input {
      padding: 0 16px 0 42px;
      height: 36px;
      width: 100%;
      line-height: 20px;
      font-family: RobotoLt;
      letter-spacing: .01em;
      background: rgba(142, 142, 147, 0.12);
      outline: none;
      border: none;
      border-radius: 10px;
      
      &::placeholder {
        font-size: rem(16);
        font-weight: 500;
        color: $color-grey;
      }
    }

    &__input--autocomplete {
      background: transparent;
      padding-left: 26px;
    }
    
    .input-wrapper {
      position: relative;
      margin-top: 16px;

      &:after {
        content: url('../img/search.svg');
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-45%);
      }
    }

    .input-wrapper--autocomplete {
      position: relative;

      &:after {
        left: 0;
      }
    }
  }
  
  .filter {
    padding-top: 15px;
    font-family: RobotoLt;

    .filter-wrapper__title {
      font-size: rem(16);
      font-weight: 500;
      line-height: 21px;
      padding: 0 16px;
      letter-spacing: .02em;
    }
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-left: -15px;
    padding: 0 16px;

    .tag {
      position: relative;
      padding: 0 28px 0 15px;
      margin: 0 0 5px 10px;
      height: 30px;
      line-height: 30px;
      font-size: rem(12);
      color: $tag-color;
      border: 1px solid $border-color;
      border-radius: 35px;

      .delete-tag {
        display: flex;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        outline: none;
        background: transparent;
        opacity: .8;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .autocomplete-list {
    position: absolute;
    top: 40px;
    width: 200px;
    background: $color-white;
    border-radius: 4px;
    box-shadow: 0 3px 8px rgba(#000, .2);

    &__item {
      border-bottom: 1px solid $border-color;
      padding: 4px 15px;
      font-size: 14px;
      color: $color-grey;
      cursor: pointer;

      &:last-child {
        border: none;
      }

      &:hover {
        background: #fafafa;
      }
    }
  }
}

.card-wrapper {
  padding: 0 15px;
}

.doctor-card {
  display: flex;
  border-bottom: 1px solid $border-color;
  padding: 15px 0 20px 0;

  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .doctor {
    margin-left: 15px;
    font-family: RobotoLt;
    
    &__title {
      font-size: rem(14);
      font-weight: 500;
      line-height: 21px;
    }

    &__status {
      display: inline-block;
      margin-top: 8px;
      font-size: rem(12);
      line-height: 18px;
      color: #27AE60;
    }

    &__rate {
      margin-top: 8px;
      font-size: rem(12);
      line-height: 18px;
    }

    .rate {
      &__count, .comments {
        margin-left: 4px;
        font-size: rem(12);
        font-family: RobotoLt;
        line-height: 18px;
        color: $color-grey;
      }

      .comments {
        font-family: RobotoLt;
        margin-left: 6px;
      }
    }

    &__position {
      margin-top: 8px;
      @extend .rate__count;
    }

    &__cost {
      margin-top: 8px;
    }

    .cost {
      &__currency {
        font-size: rem(18);
        line-height: 21px;
      }

      &__time {
        margin-left: 6px;
        @extend .rate__count;
      }
    }

    &__buttons {
      display: flex;
      margin-top: 20px;
    }
  }
}

.circle-btn {
  margin-left: 16px;
  background: transparent;
  border: none;
  outline: none;
  height: auto;
  width: auto;
  opacity: .8;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  &:first-child {
    margin-left: 0;
  }
}

.hide {
  display: none;
}